.header {
    height: 60px;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #131921;
}

.header__logo {
    width: 100px;
    object-fit: contain;
    margin: 0 20px;
    margin-top: 18px;
}

.header__searchIcon {
    background-color: #cd9042;
    padding: 5px;
    height: 21px !important;
}

.header__searchInput {
    padding: 10px;
    border: none;
    width: 100%;
    height: 12px;
}

.header__search {
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
}

.header__linkLineOne {
    font-size: 10px;
}

.header__linkLineTwo {
    font-size: 13px;
    font-weight: 800;
}

.header__nav {
    display: flex;
    justify-content: space-evenly;
}

.header__link {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    color: white;
}

.header__linkBasket {
    display: flex;
    align-items: center;
    color: white;
}

.header__basketCount {
    margin: 0 10px;
}